@property --segment-width {
  syntax: "<length-percentage>";
  initial-value: 0;
  inherits: false;
}

.create-formation-page {
  --driver-img-width: 35px;
  --bottom-sheet-height: 190px;
  padding-bottom: calc(var(--bottom-sheet-height) + 1rem);
}

.budget-info {
  width: fit-content;
  display: flex;
  width: 100%;
  background-color: rgb(29, 29, 29);
  margin-bottom: 12px;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;

  .current-budget {
    min-width: 70px;
  }

  .budget-remaining {
    position: absolute;
    top: 6px;
    right: 1.5rem;
    font-size: 78%;
    color: var(--color);
  }
}

.driver-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;

  &:before {
    content: '';
    background: var(--team-color);
    height: 100%;
    width: calc(100% - 10px);
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    border-top-right-radius: 20px;
  }
}

.create-formation-table {
  max-height: 400px;
  overflow-y: scroll;
  display: block;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 100%;

  thead {
    margin-bottom: 5px;
    display: block;
  }

  th,
  td {
    width: 100%;
    min-width: 50px;
    padding: 5px 8px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
  }

  tbody {
    tr {
      padding: 5px;

      td {
        cursor: pointer;
        font-size: 12px;
      }

      &:nth-child(odd) {
        background: rgb(28, 28, 28);
      }
    }
  }

  .driver-row {
    &.is-selected {
      opacity: .6 !important;
      background-color: rgba(48, 159, 100, 0.1);
      background-color: rgba(159, 96, 48, 0.2) !important;
      background-color: rgb(159, 48, 48, .2) !important;

      .driver-action {
        color: red;
      }

      &:hover {
        opacity: .8;
      }
    }

    &:not(.is-disabled):hover {
      opacity: 1;
      // background-color: rgb(48, 159, 100, 0.2);
    }


  }

}

.driver-img {
  width: var(--driver-img-width);
  aspect-ratio: 1;
  margin-right: 10px;
  padding: 3px;
}

.driver-name-image-container {
  display: flex;
  align-items: center;
  border-left: 4px solid var(--team-color);
  gap: 3px;

}

.driver-firstname,
.driver-lastname,
.driver-team,
.team-name,
th {
  text-transform: capitalize;
  line-height: 1;
}

.driver-name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.driver-firstname {
  font-size: 11px;
}

.driver-lastname {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.team-name {
  font-size: 17px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.bottom-sheet {
  --placeholder-border-radius: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  height: var(--bottom-sheet-height);
  background-color: rgb(29, 29, 29);
  transition: .3s;
  padding-top: 30px;
}

.team-img {
  width: 100%;
  opacity: .3;
}

.team-name .selected-driver-container {
  --container-padding: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding: var(--container-padding);
  max-width: 48px;

  &:before {
    content: '';
    background: var(--team-color);
    bottom: 0px;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    max-height: calc(var(--driver-img-width) + var(--container-padding));
    height: 100%;
    border-radius: var(--placeholder-border-radius);
  }
}

.is-disabled {
  opacity: .2 !important;
  cursor: not-allowed;
}

.selected-formation-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-drivers-container {
  position: relative;
}

.selected-drivers-bar,
.selected-teams-bar {
  position: relative;
  display: flex;
  gap: 3px;
  width: 100%;

  img {
    display: block;
    width: var(--driver-img-width);
    aspect-ratio: 1;
    opacity: 1;
  }

}

.selected-driver-placeholder,
.selected-team-placeholder {
  width: var(--driver-img-width);
  aspect-ratio: 1;
  border-radius: var(--placeholder-border-radius);
  background: rgba(226, 226, 226, 0.101);
  overflow: hidden;

  &:before {
    content: '';
    background: var(--team-color);
    inset: 0;
    position: absolute;
    opacity: .3;
  }

  img {
    display: block;
    padding: 0;
    margin: 0;
    width: var(--driver-img-width)
  }
}

.show-bottom-sheet-btn {
  margin-top: 5px;
  padding: 2px 20px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
  background: #1d1d1d;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 40px;
  justify-content: center;
  display: flex;
  align-items: start;
  z-index: 5;
}

//  BUDGET BAR

.budget-bar {
  display: flex;
  width: 100%;
  min-height: 4px;
  gap: 3px;
}

.budget-allowance-label {
  position: absolute;
  color: var(--budget-label-color);
  top: -15px;
  right: 0;
  font-size: 9px;
}

.overbudget-segment,
.budget-limit-segment,
.current-budget-segment {
  height: 100%;
  width: var(--segment-width);
  transition: .5s;
}

.current-budget-segment {
  background-color: rgb(105, 244, 105);
}

.budget-limit-segment {
  border: 1px solid rgb(110, 110, 110);
}

.overbudget-segment {
  border: 1px solid red;
}