.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .value {
    font-size: 2rem;
  }

  .label {
    font-size: 85%;
  }
}